body {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}
/* Menu icon
*  --> https://www.w3schools.com/howto/howto_css_menu_icon.asp
**/
.menu-icon {
  display: none;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 32px;
}
.icon-bar {
  background-color: #9e9e9e; /* grey */
  border-radius: 2px;
  height: 5px;
  margin: 6px 0;
  opacity: 0.6;
}
/* The side navigation menu
*  --> https://www.w3schools.com/howto/howto_js_sidenav.asp
*/
.sidenav {
  background-color: #e0e0e0; /* grey lighten-2 */
  height: 100%; /* 100% Full-height */
  /*padding-top: 15px;  Place content 60px from the top */
  position: fixed;  /* Stay in place - DW: puts it from top on the left */
  width: 250px; /* 0 width - change this with JavaScript */
  /*z-index: 1;  Stay on top*/
  top: 0; /*Stay at the top*/
  /* left: 0; */
  overflow-x: hidden;  /*Disable horizontal scroll */
  transition: width 0.5s;  /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4em;
  color: #757575; /* grey darken-1 */ /*#818181;*/
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-size: 36px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: -10px;
}
.sidenav p {
  color: #757575; /* grey darken-1 */
  font-size: 1.6em;
  padding: 0 15px;
}
main {
  margin-left: 250px;
  padding: 0 25px;
  transition: margin-left 0.5s;
}
h2 {
  padding-top: 25px; /* to be inline with top of nav when clicking the menu */
}
code {
  background: #f5f5f5; /* grey lighten-4 */
  padding: 4px;
}
